.project_container{
    opacity: 99%;
    max-width: 95rem;
    padding: 2rem;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.project_images{
    margin:1rem;
    
}
.project_images img{
    width: 100%;
}



/*small devices*/
@media screen and (max-width: 680px){
    .container {
      width: var(--container-width-sm);
    }
    .project_images{
        max-width: 100%;
    }
    
  }
  