#features{
    color: var(--color-white);
    margin-top: 0;
}

.home_video{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-bottom: 1rem;
    position: relative;
}
.before_video{
  height: 3rem;
  width: 100%;  
}
.home_video video{
    height: 100%;
    width: 100%;
   
}
.title {
    text-align: center;
    margin-bottom: 4rem;
    
  }
  
  .title h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    margin: 1.5rem 0;
    font-weight: 400;
  }
  .title img{
    width: 50px;
  }
  .title-text {
    font-family: 'Annie Use Your Telescope', cursive;
    width: 50%;
    max-width: 40rem;
    margin: 0 auto;
    color:#222222;
    font-size: 20px;
    font-weight: bolder;
    
  }
  .vid-icon{
    position: absolute;
    right: 0;
    z-index: 2;
  }
  .features-content {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .features-left {
    
    width: 100%;
    flex: 1;
    text-align: center;
  }
  .features-left img {
    width: 100%;
    height: 100%;
  }
  .features-right {
    
    flex: 2;
    margin-left: 10rem;

  }
  .features-right ul li{
    line-height: 5;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bolder;
    font-size: 20px;
    color:var( --color-dark)
  }
  .grid_section{
    margin-top: 5rem;
    display: grid;
    grid-template-columns:repeat(3,30rem) ;
    grid-template-rows: repeat(1, 20rem);
   
  }
  .grid-img{
    height: 100%;
    width: 50%;
    object-fit:cover
  }
  .grid-1{
    margin-bottom: 0;
    border-radius: 3rem;
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
    color: var(--color-dark);
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1.7;
    align-items: center;
  }
  .home_p{
    color: var(--color-dark);
   max-width: 250px; 
   font-size: 20px;
   font-family: 'Annie Use Your Telescope', cursive;
  }
  
  .grid-3{
    
    grid-column: 2/ span 2;
    
  }
  @media screen and (max-width: 1024px){
    .header{
      max-width: 100%;
      padding-left: 0;
      text-align: left;
    }
    .logo_container{
      width: 300px;
    margin-left: 0;
    }
    .before_video{
      height: 1.5rem;
    }
    .home_video{
      height: 210px;
      background-color: black;
      margin-bottom: 1rem;
      position: relative;
  }
  .features{
    max-width: 100%;
  }
  .title-text {
    max-width: 30rem;
    color:#222222;
  }
  .features-right {
    flex: 2;
    margin-left: 1rem;

  }
  .features-right ul li{
    line-height: 3;
    font-size: 14px;
    font-weight: 400;
    
  }
  
 
  } 
  
  
  @media screen and (max-width: 900px) {
    #features {
      flex-direction: column;
    }
    .grid_section{
      display: block;
      margin-top: 2rem;
    }
    .grid-img{
      height: 100%;
      width: 100%;
      object-fit:cover
    }
    .grid-1{
      margin: 1rem;
      display:block;
      text-align: center;
      justify-content: center;
    }
    .home_p{
      margin-left: 10rem;
    }
  }
  