#features{
    color: var(--color-white);
    margin-top: 0;
}
.home_video{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-bottom: 1rem;
    position: relative;
}
.before_video{
  height: 3rem;
  width: 100%;  
}
.home_video video{
    height: 100%;
    width: 100%;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
    
  }
  
  .title h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    margin: 1.5rem 0;
    font-weight: 400;
  }
  .title img{
    width: 50px;
  }
  .title-text {
    width: 50%;
    max-width: 40rem;
    margin: 0 auto;
    color:#222222;
  }
  
  .features-content {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .features-left {
    
    width: 100%;
    flex: 1;
    text-align: center;
  }
  .features-left img {
    width: 100%;
    height: 100%;
  }
  .features-right {
    flex: 2;
    margin-left: 10rem;

  }
  .features-right ul li{
    line-height: 6;
    font-size: 21px;
    font-weight: 500;
    color:var( --color-dark)
  }
  @media screen and (max-width: 1024px){
    .header{
      max-width: 100%;
      padding-left: 0;
      text-align: left;
    }
    .logo_container{
      width: 300px;
    margin-left: 0;
    }
    .before_video{
      height: 1.5rem;
    }
    .home_video{
      height: 210px;
      background-color: black;
      margin-bottom: 1rem;
      position: relative;
  }
  .features{
    max-width: 100%;
  }
  .title-text {
    max-width: 30rem;
    color:#222222;
  }
  .features-right {
    flex: 2;
    margin-left: 1rem;

  }
  .features-right ul li{
    line-height: 3;
    font-size: 14px;
    font-weight: 400;
    
  }
 
  } 
  
  @media screen and (max-width: 600px) {
    #features {
      flex-direction: column;
    }
  }
  